<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to fazbook</h1>
    <a href="users/new">Add new user</a>
    <% users.forEach(function(user) { %>
      <div>

      <form action="<%= '/users/' + user.id + '?_method=DELETE' %>" method="POST">
      <button type="submit">x</button>
      </form>
        <span><%= user.id %></span>
        <span><%= user.email %></span>
        <span><%= user.firstname %></span>
        <span><%= user.lastname %></span>
        <span><%= user.dob %></span>
      </div>
    <% }); %>
  </body>
</html>
